.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #c8c8c8;
    font-family: 'Open Sans', sans-serif;
}

.forgot-password-wrap {
    width: 100%;
    max-width: 525px;
    padding: 40px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    text-align: center;
    border-radius: 10px;
    background: rgba(40, 57, 101, .9);
    color: white;
}

.forgot-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.forgot-password h2 {
    font-size: 22px;
}

.forgot-password input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, .1);
    color: white;
    text-align: center;
    width: 70%;
    margin-bottom: 10px;
}

.forgot-password input::placeholder {
    color: #ddd;
}

.forgot-password button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #1161ee;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.forgot-password button:hover {
    background: #0d4bcc;
}

.forgot-password .error-message {
    color: red;
    margin-top: 10px;
}
